.userlist-panel-body
{
  width: 583px;
  height: 300px;
  margin-top: -15px;
  overflow-y: scroll;
  overflow-x: hidden;

}

.userlist-chat
{
  list-style: none;
  margin: 10px 2px 0px 12px;
  padding: 0;
  width:572px;
}

.userlist-chat li
{
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #B3A9A9;
}

.userlist-chat li.left .userlist-chat-body
{
  margin: 18px 0px -5px 9px;
}

.username{
  margin-left: 10px;
}
.red-dot {
  height: 11px;
  width: 11px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin: -15px 0px 22px -10px
}

.green-dot {
  height: 11px;
  width: 11px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  margin: -15px 0px 22px -10px
}

